.l-main{
    padding: 0 15px;
    max-width: 550px;
    margin:0 auto;
    > .has-small-font-size{
        margin-bottom:80px;
        //font-size:12px;
    }
    > .wp-block-separator{
        margin-bottom:80px;
    }
}