.l-main--company-profile{
    padding: 0 15px;
    max-width: 550px;
    margin:0 auto;
    & > .wp-block-separator{
        margin-bottom:80px;
    }
    
    //mainタグの一番下のwp-block-columnsの中の<div>タグの中の<a>タグに任意のクラスをつける
    
    & > :nth-last-child(3) > .wp-block-column:first-child > p > a{
        position:relative;
        margin-left:16px;
        &::before{
            content: '<<';
            position:absolute;
            left:-16px;
            color:red;
        }
    }

    & > :nth-last-child(3) > .wp-block-column:last-child > p > a {
        position:relative;
        margin-right:16px;
        &::before{
            content: '>>';
            position:absolute;
            right:-16px;
            color:red;
        }
    }
}