.l-main--town-archive{
    padding: 0 30px;
    max-width: 650px;
    margin:0 auto;
    & > .wp-block-separator{
        margin-bottom:40px;
    }
    
    //mainタグの一番下のwp-block-columnsの中の<div>タグの中の<a>タグに任意のクラスをつける
    
    //アーカイブの画像横のテキストにmarginをつける
    & > .wp-block-columns > .wp-block-column > .p-town-archive__text{
        margin-left:24px;
    }

    & > :nth-last-child(3) > .wp-block-column:first-child > p > a{
        position:relative;
        margin-left:16px;
        &::before{
            content: '<<';
            position:absolute;
            left:-16px;
            color:red;
        }
    }

    & > :nth-last-child(3) > .wp-block-column:last-child > p > a {
        position:relative;
        margin-right:16px;
        &::before{
            content: '>>';
            position:absolute;
            right:-16px;
            color:red;
        }
    }
}